<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Planner</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
                <span class="login100-form-title p-b-48">
                            <i class="pointer-event">{{@city}},{{@country}} </i>
                </span>
            <div class="text-center">
                <h2>{{ @temperature}}°F</h2>
                <hr>
                <p>Today:<Strong> {{@weather}}</Strong> currently. The high will be
                    <Strong> {{@maxtemp}}°</Strong>F with low of <Strong>{{@mintemp}}°</Strong>F.</p><br>
                <ul>
                    <li><Strong>Humidity: </Strong> {{@humidity}}%</li>
                    <li><Strong>Wind: </Strong> {{@windSpeed}} mph</li>
                    <li><Strong>Pressure: </Strong> {{@pressure}} inHg</li>
                    <li><Strong>Sunrise: </Strong> {{@sunrise}}</li>
                    <li><Strong>Sunset: </Strong> {{@sunset}}</li>
                </ul>
                <br><br>
                <form action="#" method="post">
                    <div class="container-login100-form-bgbtn">
                        <div class="login100-form-btn"><input class="login100-form-btn" type="submit" name="submit"
                                                              value="New Search"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="wrap-login100">
            <h2>Places to visit in {{ @city }}</h2>
            <hr><hr><br><br>
            <loop from="{{ @i=0 }}" to="{{ @i < count(@imageArray) }}" step="{{ @i++ }}">
                <h3>{{ @infoArray[@i] }}</h3>
                <div class="column">
                    <img class="hov-img-zoom" src="{{ @imageArray[@i] }}" alt="Image not found" scale="0">
                </div>
                <div class="column">
                    <p>{{ @description[@i] }}</p>
                </div>
                <div class="column">
                    <check if="{{ @wiki[@i] }}">
                        <true>
                            <a href="{{ @wiki[@i] }}" target="_blank"><strong><u>Learn more..</u></strong></a>
                        </true>
                        <false>
                            <p><strong><u>No more information was found..</u></strong></p>
                        </false>
                    </check>
                </div>
                <hr>
                <br>
            </loop>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>